/* Reset simple */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arimo", sans-serif;
}
input {
  appearance: none;
  border-radius: 0;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
}
select {
  appearance: none; /* standard */
  -webkit-appearance: none; /* Chrome / Safari */
  -moz-appearance: none; /* Firefox */
  background: none;
  border: none;
  outline: none;
}

/* style */
body {
  background-color: #141414;
}
h1,
h2,
h3,
p,
a {
  color: white;
  font-weight: normal;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: #8b0000;
  padding: 20px;
  z-index: 2000;
}
header a,
nav,
.searchBar {
  flex: 1;
}

input {
  border: 0.5px rgba(128, 128, 128, 0.62) solid;
  border-radius: 20px;
  padding: 10px;
  background: rgba(35, 35, 35, 0.277);
  padding-left: 1rem;
  padding-right: 1rem;
}

select {
  padding: 10px 40px 10px 12px;
  border: 2px solid #333;
  border-radius: 20px;
  color: black;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
}

/* nav */
.searchBar {
  text-align: center;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow-x: hidden;
  z-index: 1003;
}

.img-logo {
  width: 15%;
  height: auto;
  z-index: 1003;
}

.menu-hamburger {
  width: 40px;
  cursor: pointer;
  position: relative;
  z-index: 1002;
}

.nav-links {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(35, 35, 35, 0.277);
  backdrop-filter: blur(6px);
  transform: translateX(100%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.nav-links.open {
  transform: translatex(0%);
}

.navbar.open {
  overflow: visible;
}

.nav-links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.nav-links a {
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  font-weight: bolder;
  text-decoration: none;
}

/* main */
main {
  padding-top: 120px;
  position: relative;
}

div#filter-group {
  padding: 25px;
  color: white;
}

/* top10movie */
h2 {
  color: white;
  padding: 20px;
}
.movie-card h3,
.movie-card p {
  margin: 5px 15px;
  padding: 0;
  text-align: left;
  z-index: 2;
}
.top-ten-list {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 20px;
  padding: 20px;
}
.top-ten-list::-webkit-scrollbar {
  display: none;
}

/* carde movie */
.movie-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.089);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  color: white;
  align-items: stretch;
  padding: 20px;
  border: 0px solid;
  border-radius: 20px;
  min-width: 250px;
  max-width: 350px;
  width: 90%;
  overflow: hidden;
  transition: transform 0.5s ease;
  transform: scale(0.9);
  scroll-snap-align: center;
  opacity: 0.9;
}

.movie-card img {
  height: auto;
  width: 100%;
  border-radius: 5px;
}

.movie-card:hover {
  transform: scale(1);
  opacity: 1;
}

.movie-info {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

#loadMovies,
#loadSeries {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 5px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #09b525;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

#favoriteMovies,
#favoriteSeries {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}
#favoriteMovies::-webkit-scrollbar,
#favoriteSeries::-webkit-scrollbar {
  display: none;
}

/* footer */
footer {
  text-align: center;
  padding: 3rem;
  background-color: black;
  color: white;
}
.fond {
  width: 20%;
  height: auto;
}

@media (min-width: 1024px) {
  .img-logo {
    width: 5%;
  }

  main {
    padding-top: 100px;
  }
  #favoriteMovies,
  #favoriteSeries {
    flex-wrap: wrap;
    overflow-x: visible;
  }
}