/* Reset simple */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arimo", sans-serif;
}
body{
  background-color: #1C1C1C;
}

/* nav */
.navbar {
  position: fixed;
  width: 100%;
  background-color: #8B0000;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  z-index: 1003;
}

.img-logo {
  width: 30%;
  position: relative;
  z-index: 1003;
}

.menu-hamburger {
  width: 40px;
  cursor: pointer;
  position: relative;
  z-index: 1002;
}

.nav-links {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.432);
  backdrop-filter: blur(6px);
  transform: translateX(100%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.nav-links.open {
  transform: translateX(0%);
}

.navbar.open {
  overflow: visible;
}

.nav-links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.nav-links a {
  color: black;
  font-size: 1.4rem;
  font-weight: bolder;
  text-decoration: none;
}

header.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

main{
  padding-top: 80px;
}

div#filter-group{
  padding: 25px;
  color: white;

}

/* top10movie */
h2{
  color: white;
  padding: 20px;
}
.movie-card h3,
.movie-card p {
    margin: 5px 15px;
    padding: 0;
    text-align: left;
    z-index: 2; 
}
.top-ten-list{
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.top-ten-list::-webkit-scrollbar {
  display: none;
}

/* carde movie */
.movie-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.089);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    color: white;
    margin: 20px;
    align-items: center;
    padding: 20px;
    border: 0px solid;
    border-radius: 20px;
    min-width: 250px;
    max-width: 400px; 
    width: 90%; 
    text-align: center;
}

.movie-card img{
    height: auto;
    width: 100%; 
    border-radius: 5px;
}

#loadMovies{
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

footer{
  text-align: center;
  padding: 3rem;
  background-color: black;
  color: white;
}

@media (min-width: 1024px) {
  .img-logo {
    width: 5%;
  }

  .menu-hamburger {
    display: none;
  }

  
  
  main {
    padding-top: 200px;
  }
}